<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>레벨로그 관리자 페이지</title>
</head>
<body>
<center>
    <h1 class="centered">관리자 로그인</h1>
    <br>
    <br>
    비밀번호 : <input id="admin-password"></text><br>
    <button type="button" onClick="adminLogin()">로그인</button>
</center>
</body>
<script src="/src/admin-login.js"></script>
</html>
